body{
    background-color: rgb(70, 142, 236);
    margin: auto;
    margin-left: 50px;
    
}
nav{
    font-family:fantasy ;
   
}
p{
    margin-right: 1300px;
    
}

h1{
    font-family:fantasy ;
    color:white;
}
h2{
    font-family:fantasy ;
}
.img_padrao{
    width: 300px;
    margin-bottom: 30px ;
}



footer{
    text-align: center;
    font-style: italic;
    color: aliceblue;
}